.page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh; /* Optional: This ensures that the container takes at least the full height of the viewport */
    width: 100vw;
  }
  