/* App.css */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  /* Add styles for your header if needed */
  height: 5vh;
}

footer {
  height: 5vh;
}

nav {
  display: flex;
  gap: 20px; /* Adjust as needed */
}

nav a {
  text-decoration: none;
  color: #333; /* Adjust as needed */
}
